[Desktop Entry]
Name=CFF Explorer
Exec=/usr/bin/wine '/home/hacksign/Software/CFF Explorer/CFF Explorer.exe'
Type=Application
StartupNotify=true
Icon=/usr/share/icons/WineAppIcons/CFFExplorer.ico
StartupWMClass=cff explorer.exe
Actions=new-instance;

[Desktop Action new-instance]
Name=New Instance
Exec=/usr/bin/wine '/home/hacksign/Software/CFF Explorer/CFF Explorer.exe'
