[Desktop Entry]
Name=IDA64
Exec=/usr/bin/wine '/home/hacksign/Softwares/IDA 7.6/ida64.exe'
Type=Application
StartupNotify=true
Icon=/usr/share/icons/WineAppIcons/IDA64.ico
StartupWMClass=ida64.exe
Actions=new-instance;

[Desktop Action new-instance]
Name=New Instance
Exec=/usr/bin/wine '/home/hacksign/Softwares/IDA 7.6/ida64.exe'
