[Desktop Entry]
Version=1.0
Type=Application

Name=NotePad--
Comment=NotePad--
Categories=Development;

Icon=text-editor
Exec=NotePad--
Terminal=false
