[Desktop Entry]
Version=1.0
Type=Application
Name=Notepad--
Comment=Notepad--
Categories=Development;
Icon=text-editor
Exec=Notepad--
Terminal=false
StartupWMClass=Notepad--
