[Desktop Entry]
Name=ResourceHacker
Exec=/usr/bin/wine '/home/hacksign/.wine/drive_c/Program Files/PEView/PEView.exe'
Icon=/usr/share/icons/WineAppIcons/PEView.ico
Type=Application
StartupNotify=true
StartupWMClass=peview.exe
Actions=new-instance;

[Desktop Action new-instance]
Name=New Instance
Exec=/usr/bin/wine '/home/hacksign/.wine/drive_c/Program Files/PEView/PEView.exe'
