[Desktop Entry]
Name=RegexBuddy
Exec=env WINEPREFIX="/home/hacksign/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/hacksign/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/RegexBuddy\\ 3/RegexBuddy.lnk
Type=Application
StartupNotify=true
Comment=Learn, create, understand, test, use and store regular expressions
Path=/home/hacksign/.wine/dosdevices/c:/Program Files (x86)/JGsoft/RegexBuddy3
Icon=/usr/share/icons/WineAppIcons/RegexBuddy.ico
StartupWMClass=regexbuddy.exe
