.config/fish/fish_history
.config/fish/fish_read_history
.config/fish/fishd.*
.config/fcitx/
.config/gtk-3.0/bookmarks
.config/gtk-3.0/custom-papers
.goldendict/config
.goldendict/index/
.goldendict/history
.goldendict/gdhelp.qhc
