Xcursor.theme:ultra-flat-icons
Xcursor.size:48
Xft.dpi : 120
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! urxvt color set
URxvt.multichar_encoding:utf-8
URxvt.background:black
URxvt.foreground:white

URxvt.colorBD:yellow
URxvt.colorUL:green
URxvt.cursorColor:green
URxvt.color0:black
URxvt.color1:red3
URxvt.color2:springgreen
URxvt.color3:wheat3
URxvt.color4:navy
URxvt.color5:magenta4
URxvt.color6:steelblue1
URxvt.color7:gray85
URxvt.color8:gray10
URxvt.color9:orangered2
URxvt.color10:chartreuse3
URxvt.color11:lightgoldenrod2
URxvt.color12:skyblue1
URxvt.color13:pink1
URxvt.color14:lightblue1

! scroll set
URxvt.scrollBar:True
URxvt.scrollBar_right:True
URxvt.scrollBar_floating:True
URxvt.scrollstyle:plain
URxvt.scrollWithBuffer:false
URxvt.saveLines:5000

! font set
URxvt.font:xft:YaHei Consolas Hybrid,xft:YaHei Consolas Hybrid:pixelsize=16
URxvt.boldFont:xft:YaHei Consolas Hybrid,xft:YaHei Consolas Hybrid:pixelsize=16:Bold

! Input Method set
URxvt.inputMethod:fcitx
URxvt.imLocale:zh_CN.utf8
URxvt.imFont:YaHei Consolas Hybrid
URxvt.preeditType: Root

